option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: mysite/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
  "aws:elasticbeanstalk:application":
    "Application Healthcheck URL": "/"
  "aws:autoscaling:launchconfiguration":
    "SecurityGroups": "demo-db-sg"
